html {
	background-color: #F2F2F2;
	font-size: 12px;
}

div.container {
	width: 100%;
	border: 1px solid gray;
}

div.header, div.footer {
	padding: 1em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

a {
	text-decoration: none;
}

div.list {
	margin-left: 1%;
	margin-right: 30%;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding: 5px;
	overflow: hidden;
	min-height: 650px;
	text-align: justify;
}

.manga {
	display: inline-block;
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	min-height: 250px;
	overflow: hidden;
	max-width: 160px;
	vertical-align: top;
}

.manga img {
	max-height: 200px;
	max-width: 140px;
	width: auto;
	height: auto;
}

.manga-list {
	width: 100%;
}

a {
	width: 100px;
}

div#details {
	right: 0;
	top : 170px;
	width: 28%;
	margin-right: 15px;
	position: absolute;
}

h3.details-title {
	margin-top:10px;
	margin-bottom:0px;
}
