<!DOCTYPE html>
<meta charset="UTF-8">
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/chapter.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				 <h1>MangaScrap</h1>
			</div>
			<div class="chapter">
				<a href="#####index#####" class="index">
					<h1 class="name">#####name#####</h1>
					<h4>chapter index</h4>
				</a>
				<p>
					<h4>#####prev##### #####next#####</h4>
				</p>
				#####pictures#####
				<p>
					<h4>#####prev##### #####next#####</h4>
				</p>
			</div>
			<div class="footer">
				<p>thank you for using MangaScrap</p>
			</div>
		</div>
	</body>
</html>
