<!DOCTYPE html>
 <meta charset="UTF-8">
 <html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/chapter_index.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				 <h1>MangaScrap</h1>
			</div>
			<div class="nav">
				<img src="#####cover#####" class="cover-pic">
				<ul>
					<li>
						<p>link :<br />
						<a href="#">#####site#####</a>
						</p>
					</li>
					<li>
						<p>author :<br />
						<a href="#">#####author#####</a>
						</p>
					</li>
					<li>
						<p>artist :<br />
						<a href="#">#####artist#####</a>
						</p>
					</li>
					<li>
						<p>genres :<br />
							#####genres#####
						</p>
					</li>
					<li>
						<p>year of parution :<br />
						<a href="#">#####date#####</a>
						</p>
					</li>
					<li>
						<p>status :<br />
						<a href="#">#####status#####</a>
						</p>
					</li>
				</ul>
			</div>
			<div class="details">
				<h1>#####name#####</h1>
				<p>#####description#####</p>
				<br />
				<p>first chapter : #####first#####</p>
				<h1>Chapter list :</h1>
				<ul class="chapter-link">
					#####list#####
				</ul>
			</div>
			</div>
			<div class="footer">
				<p>thank you for using MangaScrap</p>
			</div>
		</div>
	</body>
</html>
