<!DOCTYPE html>
 <meta charset="UTF-8">
 <script src="js/chapter_index.js"></script>
 <html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/chapter_index.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				 <h1>MangaScrap</h1>
			</div>
			<div id="index">
				<a href="#####index_path#####">Back to Manga index</a>
			</div>
			<div class="nav">
				<img src="#####cover#####" class="cover-pic">
				<ul>
					<li>
						<p>link :<br />
						#####site#####
						</p>
					</li>
					<li>
						<p>author :<br />
						#####author#####
						</p>
					</li>
					<li>
						<p>artist :<br />
						#####artist#####
						</p>
					</li>
					<li>
						<p>type :<br />
						#####type#####
						</p>
					</li>
					<li>
						<p>genres :<br />
							#####genres#####
						</p>
					</li>
					<li>
						<p>year of publish :<br />
						#####date#####
						</p>
					</li>
					<li>
						<p>status :<br />
						#####status#####
						</p>
					</li>
					<li>
						<p>rank :<br />#####rank#####</p>
					</li>
					<li>
						<p>rating :<br />#####rating#####</p>
					</li>
				</ul>
			</div>
			<div class="details">
				<h1>#####name#####</h1>
				<h3>other names :</h3>
				<h5>#####alternative_names#####</h5>
				<p>#####description#####</p>
				<br />
				<p>first chapter : #####first#####</p>
				<h1>Chapter list :</h1>
				<ul class="chapter-link">
					#####list#####
				</ul>
			</div>
			<div class="footer">
				<p>thank you for using MangaScrap</p>
			</div>
		</div>
	</body>
</html>
